<link rel="stylesheet" href="/css/user_profile.css">


<h1>
    NDS / User Profile Page
</h1>

<p><%= user.name %></p>
<p><%= user.email %></p>
<p>From area: <%= user.area %></p>

<p>Subscribed to newspaper</p>
<li><%= user.newspaperSubscribed %></li>

<style>
    p{
        margin: 20px;
    }
</style>

